
IEEE EMBC10/

SABI07/

SABI2017/

SIPAIM16/

\.svn/

CASEIB09/

CASEIB10/

CASEIB11/

CINC10/

CINC09/

CinC07/

CINC11/

CINC13 challenge/

CINC13 isquemia/

CINC14 QRS quality/

CINC14 QRS comparison/

CINC18 AIPD\.zip

ecg-publications/

db_referencias/refs\.bib\.bak

*.doc#

*.lyx~
